.link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.link:hover {
    background: rgb(242, 242, 242);
}

.activeLink {
    background-color: rgb(219, 219, 219);
}

.activeLink:hover {
    background-color: rgb(211, 211, 211);
}